ul.pagination {
  display: flex;
  flex-direction: start;
  
  list-style: none;
}

ul.pagination li {
    box-sizing: border-box;
    padding-right: 10px;
}
.pagination li a {
    box-sizing: border-box;
    background-color: #e2e6e6;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #616872;
    border-radius: 4px;
}
.mt-0 {
  margin-top: 0 !important;
}    